DISCORD_PRIMARY_TOKEN=your-primary-bot-token
DISCORD_PRIMARY_CLIENT_ID=your-primary-application-client-id
DISCORD_PRIMARY_GUILD_ID=your-primary-development-guild-id
DISCORD_PRIMARY_NAME=primary

DISCORD_SECONDARY_TOKEN=your-secondary-bot-token
DISCORD_SECONDARY_CLIENT_ID=your-secondary-application-client-id
DISCORD_SECONDARY_GUILD_ID=your-secondary-development-guild-id
DISCORD_SECONDARY_NAME=secondary

LOG_LEVEL=info
