VITE_DISCORD_APPLICATION_ID=
VITE_QLSTATS_API_URL=http://localhost:3000
VITE_NOTIFICATION_API_URL=http://localhost:8787
VITE_STEAM_API_KEY=your_steam_web_api_key
VITE_STEAM_APP_ID=282440
VITE_TRUESKILL_URL_TEMPLATE=http://qlrelax.freemyip.com/elo/bn/%s
